<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adityakotalwar.lettuce_cook">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lettuce_cook_logo"
        android:label="LettuceCOOK"
        android:roundIcon="@drawable/lettuce_cook_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SearchRecipe"></activity>
        <activity android:name=".SavedRecipe" />
        <activity
            android:name=".SignUp"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".SignIn"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Recipes" />
        <activity android:name=".Friends" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAIAxXcNgO7tCBUMdL7y5uyXmvVfYlNxNo" />
        <activity android:name=".MapsActivity" />
        <activity android:name=".SuggestedRecipe" />
        <activity
            android:name=".HouseholdActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".Grocery" />
    </application>

</manifest>